{% extends 'newsapp/base.html' %}

{% block body %}
	<center><h3 class="h3 text-success font-italic mb-2">Sun</h3></center>
	<div class="mx-3 mb-3">
		{% for text_title, img_src, link in data %}
		{% if not img_src %}
		  <div class="card mb-3">
			  <div class="row">
			   <div class="col-sm-3">
			   </div><!--End first col-->
			   <div class="col offset-0" style="overflow-x: hidden;">
				<div class="card-body" style="overflow-x: hidden;">
				<p class="card-text lead" style="overflow-x: hidden;">
					<a href="{{link}}">{{text_title}}</a>
				</p>
				</div>
				</div><!--End second col -->
			  </div><!-- End row -->
			</div>
		  
		{% else %}
		
		
			<div class="card mb-3 mr-2">
			  <div class="row">
			   <div class="col-sm-3">
				<img class="card-img-top" src="{{img_src}}" alt="{{text_title}}">
			   </div><!--End first col-->
			   <div class="col offset-0" style="overflow-x: hidden;">
				<div class="card-body" style="overflow-x: hidden;">
				<p class="card-text lead" style="overflow-x: hidden;">
					<a href="{{link}}">{{text_title}}</a>
				</p>
				</div>
				</div><!--End second col -->
			  </div><!-- End row -->
			</div>
		{% endif %}
		{% endfor %}
	</div>
{% endblock %}
